doctype html
html
 head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
 body
    header.header About 
    div.profile
            div.profile-details
                img(src=`/images/${person.imgSrc}`, alt="").person-image
                h1 #{title}
                h1.profile-name
                | #{person.firstname} #{person.lastname}
                br
                h2.profile-tagline
                | #{person.tagline}
                br
                p.profile-bio
                | #{person.bio}
                br
                a.button.button-twitter(href=`${person.twitter}`) Follow me on Twitter